<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<display-name>login</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>restaurant.server.servlet.LoginController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>createRestaurantType</display-name>
		<servlet-name>CreateRestaurantTypeController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantTypes.CreateRestaurantTypeController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRestaurantTypeController</servlet-name>
		<url-pattern>/api/restaurant-type/createRestaurantType</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>readRestaurantTypes</display-name>
		<servlet-name>ReadRestaurantTypesController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantTypes.ReadRestaurantTypesController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadRestaurantTypesController</servlet-name>
		<url-pattern>/api/restaurant-type/restaurantTypes</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>deleteRestaurantType</display-name>
		<servlet-name>DeleteRestaurantTypeController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantTypes.DeleteRestaurantTypeController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRestaurantTypeController</servlet-name>
		<url-pattern>/api/restaurant-type/deleteRestaurantType</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>updateRestaurantType</display-name>
		<servlet-name>UpdateRestaurantTypeController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantTypes.UpdateRestaurantTypeController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRestaurantTypeController</servlet-name>
		<url-pattern>/api/restaurant-type/updateRestaurantType</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>readRestaurant</display-name>
		<servlet-name>ReadRestaurantsController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurants.ReadRestaurantsController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadRestaurantsController</servlet-name>
		<url-pattern>/api/restaurant/restaurants</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>prepareInsertRestaurant</display-name>
		<servlet-name>PrepareInsertRestaurantController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurants.PrepareInsertRestaurantController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrepareInsertRestaurantController</servlet-name>
		<url-pattern>/api/restaurant/prepareInsertRestaurant</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>createRestaurantController</display-name>
		<servlet-name>CreateRestaurantController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurants.CreateRestaurantController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRestaurantController</servlet-name>
		<url-pattern>/api/restaurant/createRestaurant</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>deleteRestaurantController</display-name>
		<servlet-name>DeleteRestaurantController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurants.DeleteRestaurantController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRestaurantController</servlet-name>
		<url-pattern>/api/restaurant/deleteRestaurant</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>updateRestaurantController</display-name>
		<servlet-name>UpdateRestaurantController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurants.UpdateRestaurantController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRestaurantController</servlet-name>
		<url-pattern>/api/restaurant/updateRestaurant</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>readRestaurantMenagers</display-name>
		<servlet-name>ReadRestaurantMenagersController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantMenagers.ReadRestaurantMenagersController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadRestaurantMenagersController</servlet-name>
		<url-pattern>/api/restaurant-menager/restaurantMenagers</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>prepareInsertRestaurantMenager</display-name>
		<servlet-name>PrepareInsertRestaurantMenagerController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantMenagers.PrepareInsertRestaurantMenagerController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrepareInsertRestaurantMenagerController</servlet-name>
		<url-pattern>/api/restaurant-menager/prepareInsertRestaurantMenager</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>createRestaurantMenagerController</display-name>
		<servlet-name>CreateRestaurantMenagerController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantMenagers.CreateRestaurantMenagerController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateRestaurantMenagerController</servlet-name>
		<url-pattern>/api/restaurant-menager/createRestaurantMenager</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>deleteRestaurantMenagerController</display-name>
		<servlet-name>DeleteRestaurantMenagerController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantMenagers.DeleteRestaurantMenagerController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRestaurantMenagerController</servlet-name>
		<url-pattern>/api/restaurant-menager/deleteRestaurantMenager</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>updateRestaurantMenagerController</display-name>
		<servlet-name>UpdateRestaurantMenagerController</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantMenagers.UpdateRestaurantMenagerController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRestaurantMenagerController</servlet-name>
		<url-pattern>/api/restaurant-menager/updateRestaurantMenager</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>fileUpload</display-name>
		<servlet-name>FileUploadHandler</servlet-name>
		<servlet-class>restaurant.server.servlet.restaurantMenagers.FileUploadHandler</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadHandler</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<display-name>excluded</display-name>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/images/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/images/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint />
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<servlet>
		<display-name>logout</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>restaurant.server.servlet.LogoutController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>register</display-name>
		<servlet-name>RegistrationController</servlet-name>
		<servlet-class>restaurant.server.servlet.RegistrationController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>activate</display-name>
		<servlet-name>ActivateController</servlet-name>
		<servlet-class>restaurant.server.servlet.ActivateController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivateController</servlet-name>
		<url-pattern>/activate</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>googlePlus</display-name>
		<servlet-name>GooglePlusServlet</servlet-name>
		<servlet-class>restaurant.server.servlet.GooglePlusServlet</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GooglePlusServlet</servlet-name>
		<url-pattern>/googlePlus</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>oauth2callback</display-name>
		<servlet-name>OAuth2CallbackController</servlet-name>
		<servlet-class>restaurant.server.servlet.OAuth2CallbackController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuth2CallbackController</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>facebook</display-name>
		<servlet-name>FacebookController</servlet-name>
		<servlet-class>restaurant.server.servlet.FacebookController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookController</servlet-name>
		<url-pattern>/facebook</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>oauth2facebookcallback</display-name>
		<servlet-name>OAuth2FacebookCallbackController</servlet-name>
		<servlet-class>restaurant.server.servlet.OAuth2FacebookCallbackController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuth2FacebookCallbackController</servlet-name>
		<url-pattern>/oauth2facebookcallback</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>checkSession</display-name>
		<servlet-name>CheckCookieController</servlet-name>
		<servlet-class>restaurant.server.servlet.CheckCookieController</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckCookieController</servlet-name>
		<url-pattern>/checkSession</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>guest</display-name>
		<servlet-name>GuestServlet</servlet-name>
		<servlet-class>restaurant.server.servlet.GuestServlet</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestServlet</servlet-name>
		<url-pattern>/guest</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>system-menager</display-name>
		<servlet-name>SystemMenagerServlet</servlet-name>
		<servlet-class>restaurant.server.servlet.SystemMenagerServlet</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemMenagerServlet</servlet-name>
		<url-pattern>/system-menager</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>restaurant-menager</display-name>
		<servlet-name>RestaurantMenagerServlet</servlet-name>
		<servlet-class>restaurant.server.servlet.RestaurantMenagerServlet</servlet-class>
		<init-param>
			<param-name>sleep-time-in-seconds</param-name>
			<param-value>10</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestaurantMenagerServlet</servlet-name>
		<url-pattern>/restaurant-menager</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

</web-app>
